* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

.popup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
    background-color: #e2c2c2;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #ff4b2b;
    text-decoration: none;
    transition: background-color 0.3s ease, letter-spacing 0.3s ease;
}

.subscribe:hover {
    letter-spacing: 1px;
    background-color: #ef0d41;
    cursor: pointer;
}

#popup {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    visibility: hidden;
    background-color: #fff;
    width: 450px;
    padding: 60px 40px 40px;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    text-align: center;
}

#popup.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#title {
    margin-bottom: 10px;
}

#description {
    margin-bottom: 20px;
    color: #666;
}

.email-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.subscribe-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff4b2b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #ef0d41;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}