.main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    background-color: rgb(200, 151, 247);
    color: rgb(40, 21, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: auto;
    box-shadow: 10px;

}

.div{
    text-align: center;
}

#label{
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
}

#input{
    width: 20em;
    height: 2em;
    background-color: rgb(225, 197, 251);
    border-radius: 5px;
    border-color: rgb(225, 197, 251);
    margin: 20px;
}

.button{
    background-color: rgb(40, 21, 58);
    color: beige;
    width: 7em;
    height: 3em;
    border-radius: 5px;
    padding: 5px;
}

