.main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    background-color: rgb(200, 151, 247);
    color: rgb(40, 21, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: auto;
    box-shadow: 10px;

}

.div{
}

#label{
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
}