.container{
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    margin: 0 auto;
    top: 50%;
    position: relative;
}

#count{
    font-size: 60px;
    font-weight: bold;
    margin: 0 20px;
    text-align: center;
}

.buttons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: cadetblue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}